.input {
  width: 40vw;
  height: 6vh;
  border: 3px solid darkslateblue;
  border-radius: 7px;
  font-size: 15px;
  margin: 5px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 15px;
}
