.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page {
  margin: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: darkslateblue;
  color: white;
  border: 1px solid darkslateblue;
  transition: 500ms;
}

.page:hover {
  border: 1px solid darkslateblue;
  color: darkslateblue;
  background-color: white;
  transition: 500ms;
}

.active {
  border: 1px solid darkslateblue;
  color: darkslateblue;
  background-color: white;
}

.disabled {
  cursor: not-allowed;
}
